#intro{
  background-image: url(../img/MEMPHIS_1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#touristic-agency {
  background-image: url(../img/background-1-01.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
#culinary-website {
  background-image: url(../img/background-2-01.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
#local-guide-app{
  background-image: url(../img/background-3-01.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.custom-btn {
  background-color: #ff5757 !important;
}
.custom-button{
  border: none;
  color: #ff5757 !important;
  
}
.section-scroll-dots-navigation-primary {
  color: #ff5757 !important;
}
.section-scroll-dots-navigation.section-scroll-dots-navigation-style-2 {
  background: #dadada50;
}
.text-color-orange{
  color: #ff5757 !important;
}
.text-color-purple{
  color: #cb6ce6 !important;
}
.text-color-green{
  color: #abf34d !important;
}
.text-color-blue{
  color: #5ce1e6 !important;
}
.custom-btn:hover{
  color: white;
}

.agency-image{
  top: 0;
  left: 0%;
  width: 100%;
}


@media only screen and (max-width: 792px) {
  #intro {
    background-image: url(../img/background-mobile-01.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    line-height: 0px !important;
  }
  #touristic-agency {
    background-image: url(../img/background-mobile-2-01.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #culinary-website {
    background-image: url(../img/pogresna-narandzasta-01.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #local-guide-app{
    background-image: url(../img/background-mobile-4-01.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  p{
    line-height: 18px;
  }
  .custom-margin-top{
    padding-top: 120px;
  }
}
