#intro{
  background-image: url(../img/1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#touristic-agency {
  background-image: url(../img/3.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
#culinary-website {
  background-image: url(../img/2.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
#local-guide-app{
  background-image: url(../img/4.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.custom-btn {
  background-color: #ff5757 !important;
}
.custom-button{
  border: none;
  color: #ff5757 !important;
  
}
.section-scroll-dots-navigation-primary {
  color: #ff5757 !important;
}
.section-scroll-dots-navigation.section-scroll-dots-navigation-style-2 {
  background: #dadada50;
}
.text-color-orange{
  color: #ff5757 !important;
}

.custom-btn:hover{
  color: white;
}
@media only screen and (max-width: 792px) {
  #intro {
    background-image: url(../img/1-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    line-height: 0px !important;
  }
  #touristic-agency {
    background-image: url(../img/3-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #culinary-website {
    background-image: url(../img/2-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #local-guide-app{
    background-image: url(../img/4-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  p{
    line-height: 18px;
  }
}
